%h2.text-center Список возможностей

#feature-list.panel-group{ role: 'tablist' }

  .panel.panel-default
    .panel-heading{ role: 'tab', id: 'heading-1' }
      .panel-title
        = link_to '#collapse-1', role: 'button', 'data-toggle': 'collapse', 'aria-expanded': 'false', 'aria-controls': 'collapse-1' do
          %span.glyphicon.glyphicon-chevron-right
          Аутентификация (на основе has_secure_password)
    #collapse-1.panel-collapse.collapse{ role: 'tabpanel', 'aria-labelledby': 'heading-1' }
      .panel-body
        %ul
          %li пользователи могут регистрироваться, входить и выходить из своей учётной записи;
          %li есть опция "запомнить меня" на форме входа.

  .panel.panel-default
    .panel-heading{ role: 'tab', id: 'heading-2' }
      .panel-title
        = link_to '#collapse-2', role: 'button', 'data-toggle': 'collapse', 'aria-expanded': 'false', 'aria-controls': 'collapse-2' do
          %span.glyphicon.glyphicon-chevron-right
          Подтверждение адреса электронной почты
    #collapse-2.panel-collapse.collapse{ role: 'tabpanel', 'aria-labelledby': 'heading-2' }
      .panel-body
        %ul
          %li
            ссылка подтверждения адреса электронной почты высылается:
            %ul
              %li по запросу пользователя после регистрации;
              %li автоматически при изменении адреса электронной почты;
          %li ссылка содержит адрес электронной почты пользователя (в виде хеша) и случайный ключ;
          %li ссылки действительны в течение 3 дней.

  .panel.panel-default
    .panel-heading{ role: 'tab', id: 'heading-3' }
      .panel-title
        = link_to '#collapse-3', role: 'button', 'data-toggle': 'collapse', 'aria-expanded': 'false', 'aria-controls': 'collapse-3' do
          %span.glyphicon.glyphicon-chevron-right
          Восстановление пароля
    #collapse-3.panel-collapse.collapse{ role: 'tabpanel', 'aria-labelledby': 'heading-3' }
      .panel-body
        %ul
          %li по запросу пользователю высылается ссылка для сброса пароля;
          %li ссылка содержит адрес электронной почты пользователя (в виде хеша) и случайный ключ;
          %li после перехода по ссылке и установки нового пароля, вход производится автоматически;
          %li ссылки действительны в течение 2 часов.

  .panel.panel-default
    .panel-heading{ role: 'tab', id: 'heading-4' }
      .panel-title
        = link_to '#collapse-4', role: 'button', 'data-toggle': 'collapse', 'aria-expanded': 'false', 'aria-controls': 'collapse-4' do
          %span.glyphicon.glyphicon-chevron-right
          Валидации
    #collapse-4.panel-collapse.collapse{ role: 'tabpanel', 'aria-labelledby': 'heading-4' }
      .panel-body
        %ul
          %li проверка всех данных, отправляемых пользователями на сервер.

  .panel.panel-default
    .panel-heading{ role: 'tab', id: 'heading-5' }
      .panel-title
        = link_to '#collapse-5', role: 'button', 'data-toggle': 'collapse', 'aria-expanded': 'false', 'aria-controls': 'collapse-5' do
          %span.glyphicon.glyphicon-chevron-right
          Авторизация (на основе Pundit)
    #collapse-5.panel-collapse.collapse{ role: 'tabpanel', 'aria-labelledby': 'heading-5' }
      .panel-body
        %p Права доступа:
        %ul
          %li вошедшие пользователи не могут зарегистрироваться или войти ещё раз;
          %li не вошедшие пользователи не могут выйти;
          %li только вошедшие пользователи, ещё не подтвердившие свой адрес электронной почты, могут запрашивать ссылки для его подтверждения;
          %li все пользователи, кроме вошедших и уже подтвердивших свой адрес электронной почты, могут переходить по ссылкам для его подтверждения;
          %li любой пользователь может запрашивать и переходить по ссылкам для сброса пароля;
          %li любой пользователь может изменять локаль;
          %li только вошедшие пользователи могут просматривать свой профиль, изменять имя, фотографию, пароль и адрес электронной почты;
          %li только вошедшие пользователи с правами администратора могут просматривать профили других пользователей;
          %li только вошедшие пользователи, оставлявшие запрос на изменение адреса электронной почты, могут его отменить.
        %p В случае, когда для просмотра защищённой страницы требуется вход, пользователи автоматически перенаправляются на целевую страницу после входа.
        %p Обработка ошибок и уведомления, настраиваемые для каждого контролера и действия.

  .panel.panel-default
    .panel-heading{ role: 'tab', id: 'heading-6' }
      .panel-title
        = link_to '#collapse-6', role: 'button', 'data-toggle': 'collapse', 'aria-expanded': 'false', 'aria-controls': 'collapse-6' do
          %span.glyphicon.glyphicon-chevron-right
          Пользовательские роли
    #collapse-6.panel-collapse.collapse{ role: 'tabpanel', 'aria-labelledby': 'heading-6' }
      .panel-body
        %p Пользователи с правами администратора обладают рядом дополнительных прав и имеют возможность:
        %ul
          %li просматривать информацию о других пользователях, включая их дату регистрации и время последней активности;
          %li просматривать список всех пользователей.

  .panel.panel-default
    .panel-heading{ role: 'tab', id: 'heading-7' }
      .panel-title
        = link_to '#collapse-7', role: 'button', 'data-toggle': 'collapse', 'aria-expanded': 'false', 'aria-controls': 'collapse-7' do
          %span.glyphicon.glyphicon-chevron-right
          Профиль пользователя
    #collapse-7.panel-collapse.collapse{ role: 'tabpanel', 'aria-labelledby': 'heading-7' }
      .panel-body
        %p Позволяет зарегистрированным пользователям:
        %ul
          %li просматривать и редактировать имя и адрес электронной почты;
          %li изменять фотографию профиля;
          %li изменять и сбрасывать пароль;
          %li устанавливать предпочитаемый язык.

  .panel.panel-default
    .panel-heading{ role: 'tab', id: 'heading-8' }
      .panel-title
        = link_to '#collapse-8', role: 'button', 'data-toggle': 'collapse', 'aria-expanded': 'false', 'aria-controls': 'collapse-8' do
          %span.glyphicon.glyphicon-chevron-right
          Ajax и JavaScript
    #collapse-8.panel-collapse.collapse{ role: 'tabpanel', 'aria-labelledby': 'heading-8' }
      .panel-body
        %ul
          %li вход через всплывающее окно;
          %li проверка формы регистрации;
          %li загрузка и удаление фотографии профиля;
          %li сортировка, поиск и бесконечная прокрутка списка всех пользователей.

  .panel.panel-default
    .panel-heading{ role: 'tab', id: 'heading-9' }
      .panel-title
        = link_to '#collapse-9', role: 'button', 'data-toggle': 'collapse', 'aria-expanded': 'false', 'aria-controls': 'collapse-9' do
          %span.glyphicon.glyphicon-chevron-right
          Интернационализация и локализация
    #collapse-9.panel-collapse.collapse{ role: 'tabpanel', 'aria-labelledby': 'heading-9' }
      .panel-body
        %ul
          %li две доступных локали: английский (по-умолчанию) и русский;
          %li невошедшие пользователи могут выбрать предпочитаемый язык на любой странице;
          %li вошедшие пользователи могут установить предпочитаемый язык в настройках профиля;
          %li для невошедших пользователей локаль устанавливается на основе cookie, для вошедших - на основе их предпочтений, хранимых в базе данных;
          %li локаль может быть также передана в виде url параметра, и в этом случае он всегда имеет преимущество.

  .panel.panel-default
    .panel-heading{ role: 'tab', id: 'heading-10' }
      .panel-title
        = link_to '#collapse-10', role: 'button', 'data-toggle': 'collapse', 'aria-expanded': 'false', 'aria-controls': 'collapse-10' do
          %span.glyphicon.glyphicon-chevron-right
          Почтовые возможности
    #collapse-10.panel-collapse.collapse{ role: 'tabpanel', 'aria-labelledby': 'heading-10' }
      .panel-body
        %ul
          %li после регистрации пользователь получает приветственное письмо;
          %li соглашаясь подтвердить адрес электронной почты, пользователь получает письмо с соответствующей ссылкой;
          %li после отправки запроса на сброс пароля, пользователь получает письмо с инструкциями;
          %li после изменения адреса электронной почты, пользователь получает уведомление на старый адрес и ссылку подтвержения на новый.