.form.signin
  .header= t('v.sessions.new.header')
  = form_tag :sessions do
    .contents
      .fields
        .col.col-100
          = text_field_tag :email, nil, class: "textfield",
            placeholder: t('v.sessions.new.fields.email')
        .col.col-100
          = password_field_tag :password, nil, class: "textfield",
            placeholder: t('v.sessions.new.fields.password')
          = label_tag :keep_signed_in, t('v.sessions.new.keep_signed_in')
          = check_box_tag :keep_signed_in, "yes", false
          %span.float-right= link_to(t('v.sessions.new.forgot?'), new_password_reset_path)
    .footer
      = submit_tag t('v.sessions.new.submit_button'), class: "button"
      %p= t('v.sessions.new.or')
      %span= link_to(t('v.sessions.new.signup_link'), signup_path)