%h1= t('v.password_resets.edit.header')

%p.center= t('v.password_resets.edit.invitation')
.form.generic
  = render 'shared/validation_errors', obj: @mock_user
  .fields  
    = form_for @mock_user, as: :password_reset, url: password_resets_path, method: :patch do |f|
      .col.col-75
        = f.password_field :password,
          placeholder: t('v.password_resets.edit.fields.password')
      .col.col-75                  
        = f.password_field :password_confirmation,
          placeholder: t('v.password_resets.edit.fields.password_confirmation')
      .center
        = f.submit t('v.password_resets.edit.submit_button'), class: "button"