= render 'shared/validation_errors', obj: @password_reset
%h2.text-center= t('v.password_resets.new.heading')
= bootstrap_form_for @password_reset, inline_errors: false,
html: { id: 'passwordResetNew', class: 'center-block' } do |f|
  %p.text-center= t('v.password_resets.new.invitation')
  = f.text_field :email, label: t('v.password_resets.new.fields.email'),
  hide_label: true, value: (signed_in? ? current_user.email : nil)
  .text-center
    = f.form_group do
      = f.primary t('v.password_resets.new.submit_button')