%h1= t('v.password_resets.new.header')

= render 'shared/validation_errors', obj: @password_reset
%p.center= t('v.password_resets.new.invitation')

= form_for @password_reset do |f|
  %div.control-group
    = f.text_field :email, class: "textfield"
  .center
    = f.submit t('v.password_resets.new.submit_button'), class: "btn"