%a#avatar-change-btn{href: '#', class: 'hidden' }= t('v.users.show.avatar_change')
= form_tag avatars_path, multipart: true, id: 'avatar-selector' do
  .input-group.form-group
    %span.input-group-btn
      %span.btn.btn-default.btn-file
        = t('v.users.show.avatar_fileselect')
        = label_tag 'file-select', 'Upload profile image', class: 'sr-only'
        = file_field_tag 'file-select'
    = text_field_tag 'file-name', nil, readonly: true, class: 'form-control hidden'
    %span.input-group-btn
      = submit_tag t('v.users.show.avatar_submit'), class: 'btn btn-default btn-primary'
  %p.text-justify.text-muted= t('v.users.show.image_format_hint')