%h2.text-center= t('v.users.new.heading')
= bootstrap_form_for @user, url: signup_path, inline_errors: false,
  html: { id: 'signupForm', class: 'center-block' } do |f|
  = render 'validation_errors', obj: @user
  = f.text_field :first_name, label: t('v.users.new.fields.first_name'),
    hide_label: true, placeholder: t('v.users.new.fields.first_name')
  = f.text_field :last_name, label: t('v.users.new.fields.last_name'),
    hide_label: true, placeholder: t('v.users.new.fields.last_name')
  = f.text_field :email, label: t('v.users.new.fields.email'),
    hide_label: true,  placeholder: t('v.users.new.fields.email')
  = f.password_field :password, label: t('v.users.new.fields.password'),
    hide_label: true, placeholder: t('v.users.new.fields.password')
  = f.password_field :password_confirmation,
    label: t('v.users.new.fields.password_confirmation'), hide_label: true,
    placeholder: t('v.users.new.fields.password_confirmation')
  .clearfix
  .form-group
    .pull-left
      = link_to t('v.users.new.signin_link'), signin_path
    .pull-right
      = f.primary t('v.users.new.submit_button')