.form.signup
  .header= t('v.users.new.header')
  = form_for @user do |f|
    .contents
      = render 'shared/validation_errors', obj: @user
      .fields
        .col.col-50.float-left
          = f.text_field :first_name,
            placeholder: t('v.users.new.fields.first_name')
        .col.col-50.float-left
          = f.text_field :last_name,
            placeholder: t('v.users.new.fields.last_name')
        .col.col-100
          = f.text_field :email,
            placeholder: t('v.users.new.fields.email')
        .col.col-50.float-left
          = f.password_field :password,
            placeholder: t('v.users.new.fields.password')
        .col.col-50.float-left
          = f.password_field :password_confirmation,
            placeholder: t('v.users.new.fields.password_confirmation')
    .footer
      = f.submit t('v.users.new.submit_button'), class: "button"
      %p= t('v.users.new.or')
      %span= link_to(t('v.users.new.signin_link'), signin_path)