%h2.text-center= t('v.users.show_admin.heading')
.row
  .col-xs-12.col-sm-4
    = image_tag @user.avatar.url(:medium), id: 'avatar'
  .col-xs-12.col-sm-8
    %table.table.table-bordered.table-hover#userInfo
      %tbody
        %tr
          %th= t('v.users.show_admin.full_name')
          %td= @user.name
        %tr
          %th= t('v.users.show_admin.email')
          %td= @user.email
        %tr
          %th= t('v.users.show_admin.email_status')
          %td= humanize_boolean(@user.email_confirmed)
        %tr
          %th= t('v.users.show_admin.email_confirmation_sent_at')
          %td= @user.email_confirmation_sent_at || '—'
        %tr
          %th= t('v.users.show_admin.registered_on')
          %td= @user.created_at
        %tr
          %th= t('v.users.show_admin.last_seen')
          %td= last_seen_time_ago_in_words(@user)
        %tr
          %th= t('v.users.show_admin.locale')
          %td= humanize_locale(@user.locale)
        %tr
          %th= t('v.users.show_admin.admin')
          %td= humanize_boolean(@user.admin)