= bootstrap_form_tag url: locale_changes_path do |f|
  %div{ class: 'btn-group', id: 'locale-selector', role: 'group',
  'aria-label' => 'Site language' }
    - I18n.available_locales.each do |locale|
      - if I18n.locale == locale
        = content_tag :span, t("v.shared._locale_selector.#{locale}"),
        class: ['btn', 'btn-default', 'disabled']
      - else
        = f.submit t("v.shared._locale_selector.#{locale}"), role: 'button'