= render 'shared/validation_errors_simple', obj: current_user
/ later replace h2 with page title ?
%h2.text-center= t('v.account_activations.new.header')
%p.text-center= t('v.account_activations.new.invitation')
= bootstrap_form_tag url: account_activations_path, layout: :horizontal, label_col: 'col-sm-3',
  control_col: 'col-sm-9', html: { id: 'account-activation-new', class: 'center-block' } do |f|
  = f.text_field :email, value: current_user.email,
    label: t('v.account_activations.new.fields.email')
  = f.password_field :password, label: t('v.account_activations.new.fields.password')
  = f.form_group do
    = f.submit t('v.account_activations.new.submit_button'), class: 'btn btn-primary'